// ------------------------------------------------------------------------------------------------
// XTS GROUP
// ------------------------------------------------------------------------------------------------

@if $general {

	.xts-group-title,
	.xts-fields-group {
		flex-grow: 1;
		flex-basis: 100%;
	}

	.xts-group-title {
		margin-bottom: 20px;

		@extend %group-title;
	}

	.xts-group {
		margin-bottom: var(--xts-group-sp);
		padding: var(--xts-group-sp);
		border-radius: var(--xts-brd-radius);
		background-color: var(--xts-group-bg-color);

		--xts-option-border-color: var(--xts-option-border-color-darker-10);

		.xts-group {
			--xts-group-bg-color: #FFF;
		}
	}

	.xts-fields-group {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: .1px;

		gap: inherit;
	}

	// ------------------------------------------------------------------------------------------------
	// WPB GROUP
	// ------------------------------------------------------------------------------------------------

	.woodmart-td-title {
		width: 100%;

		@extend %group-title;
	}

	:is(
	.vc_param_group-wrapper,
	.woodmart-td-content) {
		display: flex;
		clear: both;
		flex-wrap: wrap;
		// margin-top: 0;
		margin-right: 15px;
		margin-left: 15px;
		padding-top: 20px;

		--xts-group-sp: 5px;

		.vc_column {

			select {
				padding: 6px 6px;
				height: 36px;
			}

			// &.wpb_el_type_woodmart_image_select {
			// 	margin-bottom: 5px;
			// }
		}

		.wpb_el_type_vc_link {

			.button {
				height: 36px;
				border-radius: var(--xts-option-border-radius);
				box-shadow: none;
				line-height: 34px;
			}

			.vc_link_label {
				line-height: 36px;
			}
		}

		.wpb_el_type_attach_image {

			:is(
			.added,
			.gallery_widget_add_images) {
				border-radius: var(--xts-option-border-radius);
				background-color: #FFF;
			}
		}

		.wp-media-buttons {

			button {
				border-radius: var(--xts-option-border-radius);
				box-shadow: none;
			}
		}
	}

	// ------------------------------------------------------------------------------------------------
	// WHB GROUP
	// ------------------------------------------------------------------------------------------------

	.whb-field-section-title {
		margin-bottom: 15px;
		width: 100%;

		@extend %group-title;
	}

	.whb-option-fields {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
		padding: 20px 20px 5px 20px;

		gap: 0 15px;

		> .whb-field-description {
			margin-top: 0 !important;
			margin-bottom: 15px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

} // END IF

// ------------------------------------------------------------------------------------------------
// EXTENDS
// ------------------------------------------------------------------------------------------------

// @extend %group-title;

%group-title {
	color: #23282D;
	font-weight: 600;
	font-size: 18px;
}